<!-- app/templates/-palette-form.hbs -->
<h1>Tropical</h1>
<form>
  <h2>Palette Name</h2>
  <input class="palette-name-input form-control" type="text" placeholder="New Palette">

  <h2>Palette Preview</h2>
  <div class="btn-group color-palette">
    <button class="btn" type="button" style="background-color:rgb(217,33,32)" >217,33,32</button>
    <button class="btn" type="button" style="background-color:rgb(231,116,47)">231,116,47</button>
    <button class="btn" type="button" style="background-color:rgb(223,165,58)">223,165,58</button>
    <button class="btn" type="button" style="background-color:rgb(177,190,78)">177,190,78</button>
    <button class="btn" type="button" style="background-color:rgb(109,179,136)">109,179,136</button>
  </div>

  <h2>Edit Color</h2>
  <div class="btn-group">
    <div class="btn preview-tile" style="background-color:rgb(217,33,32)"></div>
  </div>
  <div class="color-input-group">
    <span class="color-input-label">R</span>
    <input class="color-text-input form-control" maxlength="3" type="text">
    <input class="color-range-input pull-right" type="range" step="1" min="0" max="255">
  </div>
  <div class="color-input-group">
    <span class="color-input-label">G</span>
    <input class="color-text-input form-control" maxlength="3" type="text">
    <input class="color-range-input pull-right" type="range" step="1" min="0" max="255">
  </div>
  <div class="color-input-group">
    <span class="color-input-label">B</span>
    <input class="color-text-input form-control" maxlength="3" type="text">
    <input class="color-range-input pull-right" type="range" step="1" min="0" max="255">
  </div>

  <div class="btn-group form-actions" role="group">
    {{#link-to 'palettes'}}Cancel{{/link-to}}
    {{#link-to 'palettes'}}Delete{{/link-to}}
    <input class="btn" type="submit" value="Save">
  </div>
</form>
